@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

}

.clearfix::after {
      content: "";
      display: block;
      clear: both;
}

nav {
      background-color: #343A40;
      padding-left: 5%;
      margin-bottom: 40px;
}

nav ul {
      list-style: none;
      max-width: 1280px;
      margin: 0 auto;

}

nav ul li {
      float: left;


}

nav ul li a {
      color: #bbb;
      text-decoration: none;
      line-height: 70px;
      padding: 0 40px;
      font-size: 18px;
      letter-spacing: 1px;
      font-family: 'Roboto', sans-serif;
      border-right: 2px solid grey;
}

nav ul li:nth-last-child(1) a {
      border-style: none;
}

nav ul li a i {
      padding-right: 10px;
      font-size: 24px;
      vertical-align: 2px;
}

nav ul li a:hover {
      color: white;
      transition: 0.6s;
      display: block;

}
